<h1>Customer Edit</h1>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit(customerForm)">
    First Name:
    <input type="text" class="form-control" formControlName="firstName" />
    <br />
    <span *ngIf="customerForm.controls.firstName.invalid">First Name is required!</span>
    <br />
    <button class="btn btn-default" [disabled]="customerForm.invalid">Submit</button>
    <br />
    {{ message }}
    <br />
    Valid: {{ customerForm.valid}}
    <br />
    Pristine: {{ customerForm.pristine }}
    <br />
    Touched: {{ customerForm.touched }}
</form>
