<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a href="#/"><img src="images/angular.png" class="logo" /></a>
    </div>
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a [router-link]="['/TemplateForm']">Template Driven Form</a></li>
          <li><a [router-link]="['/ModelForm']">Model Driven Form</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>