<div class="container">
 
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a href="#/"><img src="images/angular.png" class="logo" /></a>
    </div>
    <ul class="nav navbar-nav nav-pills">
      <li routerLinkActive="active">
        <a routerLink="/startertemplateform">Starter Template Form</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/starterreactiveform">Starter Reactive Form</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/basicform">Basic Template Form</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/templateform">Template Form</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/reactiveform">Reactive Form</a>
      </li>
    </ul>
  </nav>
  
  <router-outlet></router-outlet>
  
</div>