<div class="container">
    <div [hidden]="submittedModel.id">
        <h1>Template Driven Form</h1>
        <form (ng-submit)="onSubmit()" #f="form">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" ng-control="name" [(ng-model)]="model.name" required>
                <show-error control="name" [errors]="['required']"></show-error>
            </div>
            <div class="form-group">
                <label for="alterEgo">Alter Ego</label>
                <input type="text" class="form-control" id="alterEgo" ng-control="alterEgo" [(ng-model)]="model.alterEgo" required>
                <show-error control="alterEgo" [errors]="['required']"></show-error>
            </div>
            <div class="form-group">
                <label for="power">Hero Power</label>
                <select class="form-control" id="power"  ng-control="power" [(ng-model)]="model.power" required>
                <option *ng-for="#p of powers" [value]="p">{{p}}</option>
                </select>
                <show-error control="power" [errors]="['required']"></show-error>
            </div>
            <button type="submit" class="btn btn-default" [disabled]="!f.form.valid">Submit</button> 
        </form>  
    </div>
    <div [hidden]="!submittedModel.id">
        <h2>You submitted the following:</h2>
        <div class="row">
            <div class="col-md-2">Name</div>
            <div class="col-md-10 pull-left">{{ submittedModel.name }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Alter Ego</div>
            <div class="col-md-10 pull-left">{{ submittedModel.alterEgo }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Power</div>
            <div class="col-md-10 pull-left">{{ submittedModel.power }}</div>
        </div>
        <br />
         <button class="btn btn-default" (click)="showForm()">Edit</button>
    </div>    
</div>