form {
	width:50%;
}

.logo {
	height: 50px;
	margin-left: 20px;
	margin-right: 20px;
}

/* Bootstrap overrides */

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}